<div class="container">
    <div class="Order">
      <h2>My Orders </h2>
    </div>
      <div class="Addcontainer">
        <div class="book">
          <div class="image">
            <img src="../../../assets/Book1.png" alt="">
          </div>
          <div class="book-description">
            <h3>Java</h3>
            <p>by Pearson</p>
            <div class="pricecontainer" fxLayout="row">
              
              <div class="price">
                Rs. 70
              </div>
            </div>
          </div>
        </div>
        <div class="ordercontainer">
          <div class="orders">
    
          </div>
          <div class="delete-container">
            <div class="green-dot">
      
            </div>
            <h4>Order placed on April 6</h4>
          </div>
        </div>
        </div>
        <div class="Addcontainer">
          <div class="book">
            <div class="image">
              <!-- <img src="../../../assets/Book2.png" alt=""> -->
            </div>
            <div class="book-description">
              <!-- <h3>Java</h3>
              <p>by Ron</p> -->
              <div class="pricecontainer" fxLayout="row">
                
                <div class="price">
                  <!-- Rs. 70 -->
                </div>
              </div>
            </div>
          </div>
          <div class="ordercontainer">
            <div class="orders">
      
            </div>
            <div class="delete-container">
              <div >
        
              </div>
              <!-- <h4>Order placed on April 6</h4> -->
            </div>
          </div>
          </div>
      </div>
     
